<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p><%= msg %></p>
    <div>
      <% if (isMe) { %>
        <a href="#">显示</a>
      <% } else { %>
        <button>关注</button>
      <% } %>
    </div>
  </body>
</html>
